<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>mon1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-12}</string>
                <key>spriteSize</key>
                <string>{290,377}</string>
                <key>spriteSourceSize</key>
                <string>{352,431}</string>
                <key>textureRect</key>
                <string>{{1,407},{290,377}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mon2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,7}</string>
                <key>spriteSize</key>
                <string>{200,343}</string>
                <key>spriteSourceSize</key>
                <string>{234,359}</string>
                <key>textureRect</key>
                <string>{{549,804},{200,343}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mon3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-8}</string>
                <key>spriteSize</key>
                <string>{274,373}</string>
                <key>spriteSourceSize</key>
                <string>{352,433}</string>
                <key>textureRect</key>
                <string>{{307,1},{274,373}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mon4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-9}</string>
                <key>spriteSize</key>
                <string>{278,354}</string>
                <key>spriteSourceSize</key>
                <string>{352,458}</string>
                <key>textureRect</key>
                <string>{{1,786},{278,354}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mon5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-6}</string>
                <key>spriteSize</key>
                <string>{194,333}</string>
                <key>spriteSourceSize</key>
                <string>{234,383}</string>
                <key>textureRect</key>
                <string>{{583,1},{194,333}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mon6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-1}</string>
                <key>spriteSize</key>
                <string>{304,404}</string>
                <key>spriteSourceSize</key>
                <string>{352,454}</string>
                <key>textureRect</key>
                <string>{{1,1},{304,404}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mon7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-1}</string>
                <key>spriteSize</key>
                <string>{258,395}</string>
                <key>spriteSourceSize</key>
                <string>{352,457}</string>
                <key>textureRect</key>
                <string>{{293,407},{258,395}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mon8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,6}</string>
                <key>spriteSize</key>
                <string>{222,375}</string>
                <key>spriteSourceSize</key>
                <string>{234,401}</string>
                <key>textureRect</key>
                <string>{{553,376},{222,375}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mon9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,5}</string>
                <key>spriteSize</key>
                <string>{266,328}</string>
                <key>spriteSourceSize</key>
                <string>{352,436}</string>
                <key>textureRect</key>
                <string>{{281,804},{266,328}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>mon.png</string>
            <key>size</key>
            <string>{778,1148}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:20b36d87c15ebcadef421da777c88926:d467db157bf34d3953d982bd256a56a8:77913ead0f0ebd04d12a845aee3306c0$</string>
            <key>textureFileName</key>
            <string>mon.png</string>
        </dict>
    </dict>
</plist>
